In [2]:
#importing pandas

In [4]:
import pandas as pd

In [5]:
#read the dataset

In [10]:
df = pd.read_csv('/Users/mastermind/Desktop/Super.csv')

In [11]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2018-152156,11/8/18,11/11/18,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2018-152156,11/8/18,11/11/18,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2018-138688,6/12/18,6/16/18,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2017-108966,10/11/17,10/18/17,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2017-108966,10/11/17,10/18/17,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [12]:
#retaining required categorical variables and dropping others

In [13]:
column = ['Order ID', 'State','Order Date', 'Ship Date', 'Customer ID', 'Customer Name', 'Country', 'City','Postal Code','Product ID','Product Name','Discount']
df.drop(column,inplace=True, axis=1)

In [14]:
df.head()

,Row ID,Ship Mode,Segment,Region,Category,Sub-Category,Sales,Quantity,Profit
0,1,Second Class,Consumer,South,Furniture,Bookcases,261.9600,2,41.9136
1,2,Second Class,Consumer,South,Furniture,Chairs,731.9400,3,219.5820
2,3,Second Class,Corporate,West,Office Supplies,Labels,14.6200,2,6.8714
3,4,Standard Class,Consumer,South,Furniture,Tables,957.5775,5,-383.0310
4,5,Standard Class,Consumer,South,Office Supplies,Storage,22.3680,2,2.5164

In [15]:
#in this example I'm using profit for the line thickness, so I drop other variables

In [16]:
df1 = df.filter(['Ship Mode','Segment','Region','Category','Sub-Category','Profit'], axis=1)

In [17]:
df1.head()

        Ship Mode    Segment Region         Category Sub-Category    Profit
0    Second Class   Consumer  South        Furniture    Bookcases   41.9136
1    Second Class   Consumer  South        Furniture       Chairs  219.5820
2    Second Class  Corporate   West  Office Supplies       Labels    6.8714
3  Standard Class   Consumer  South        Furniture       Tables -383.0310
4  Standard Class   Consumer  South  Office Supplies      Storage    2.5164

In [18]:
#this step onwards we specify the source and destination nodes pairwise - in the same order you want it to appear in the multi-level sankey diagram

In [19]:
df2=df1.groupby(['Region', 'Segment'], as_index=False)['Profit'].count()

In [20]:
df2.head()

    Region      Segment  Profit
0  Central     Consumer    1212
1  Central    Corporate     673
2  Central  Home Office     438
3     East     Consumer    1469
4     East    Corporate     877

In [21]:
df3=df1.groupby(['Segment', 'Category'], as_index=False)['Profit'].count()

In [22]:
df3.head()

     Segment         Category  Profit
0   Consumer        Furniture    1113
1   Consumer  Office Supplies    3127
2   Consumer       Technology     951
3  Corporate        Furniture     646
4  Corporate  Office Supplies    1820

In [23]:
df4=df1.groupby(['Category','Sub-Category'], as_index=False)['Profit'].count()

In [24]:
df4.head()

          Category Sub-Category  Profit
0        Furniture    Bookcases     228
1        Furniture       Chairs     617
2        Furniture  Furnishings     957
3        Furniture       Tables     319
4  Office Supplies   Appliances     466

In [25]:
df5=df1.groupby(['Sub-Category','Ship Mode'], as_index=False)['Profit'].count()

In [26]:
df5.head()

  Sub-Category       Ship Mode  Profit
0  Accessories     First Class     128
1  Accessories        Same Day      41
2  Accessories    Second Class     162
3  Accessories  Standard Class     444
4   Appliances     First Class      76

In [27]:
#edit the column headers for each subset dataframe created

In [28]:
df2.columns = ['a', 'b', 'Quantity']
df3.columns = ['a', 'b', 'Quantity']
df4.columns = ['a', 'b', 'Quantity']
df5.columns = ['a', 'b', 'Quantity']

In [29]:
#append the dataframes one below the other in the order you want

In [30]:
df6 = df2.append(df3)

In [31]:
df7 = df6.append(df4)

In [32]:
df8 = df7.append(df5)

In [33]:
df8

                  a                b  Quantity
0           Central         Consumer      1212
1           Central        Corporate       673
2           Central      Home Office       438
3              East         Consumer      1469
4              East        Corporate       877
5              East      Home Office       502
6             South         Consumer       838
7             South        Corporate       510
8             South      Home Office       272
9              West         Consumer      1672
10             West        Corporate       960
11             West      Home Office       571
0          Consumer        Furniture      1113
1          Consumer  Office Supplies      3127
2          Consumer       Technology       951
3         Corporate        Furniture       646
4         Corporate  Office Supplies      1820
5         Corporate       Technology       554
6       Home Office        Furniture       362
7       Home Office  Office Supplies      1079
8       Home Office       Technology       342
0         Furniture        Bookcases       228
1         Furniture           Chairs       617
2         Furniture      Furnishings       957
3         Furniture           Tables       319
4   Office Supplies       Appliances       466
5   Office Supplies              Art       796
6   Office Supplies          Binders      1523
7   Office Supplies        Envelopes       254
8   Office Supplies        Fasteners       217
..              ...              ...       ...
38      Furnishings     Second Class       184
39      Furnishings   Standard Class       575
40           Labels      First Class        60
41           Labels         Same Day        21
42           Labels     Second Class        62
43           Labels   Standard Class       221
44         Machines      First Class        23
45         Machines         Same Day        10
46         Machines     Second Class        14
47         Machines   Standard Class        68
48            Paper      First Class       217
49            Paper         Same Day        81
50            Paper     Second Class       289
51            Paper   Standard Class       783
52           Phones      First Class       138
53           Phones         Same Day        42
54           Phones     Second Class       175
55           Phones   Standard Class       534
56          Storage      First Class       119
57          Storage         Same Day        52
58          Storage     Second Class       171
59          Storage   Standard Class       504
60         Supplies      First Class        25
61         Supplies         Same Day        11
62         Supplies     Second Class        43
63         Supplies   Standard Class       111
64           Tables      First Class        47
65           Tables         Same Day        21
66           Tables     Second Class        61
67           Tables   Standard Class       190

[106 rows x 3 columns]

In [34]:
#defining sankey function

In [35]:
import pandas as pd
import plotly
import plotly.plotly as py

def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#FFD43B','#646464','#4B8BBE','#306998']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp
        
    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))
    
    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum
        
    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()
        
    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))
    
    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )
    
    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )
       
    fig = dict(data=[data], layout=layout)
    return fig

#here we call the previously defined sankey function and we add our dataframe columns to the arguments
fig = genSankey(df8,cat_cols=['a','b'],value_cols='Quantity',title='Sankey Diagram x Profit')
plotly.offline.plot(fig, validate=False)

'file:///Users/mastermind/temp-plot.html'

In [87]:
df = pd.read_csv('/Users/mastermind/Desktop/Super.csv')
column = ['Order ID', 'State','Order Date', 'Ship Date', 'Customer ID', 'Customer Name', 'Country', 'City','Postal Code','Product ID','Product Name','Discount']
df.drop(column,inplace=True, axis=1)
df1 = df.filter(['Ship Mode','Segment','Region','Category','Sub-Category','Sales'], axis=1)
df2=df1.groupby(['Region', 'Segment'], as_index=False)['Sales'].count()
df3=df1.groupby(['Segment', 'Category'], as_index=False)['Sales'].count()
df4=df1.groupby(['Category','Sub-Category'], as_index=False)['Sales'].count()
df5=df1.groupby(['Sub-Category','Ship Mode'], as_index=False)['Sales'].count()
df2.columns = ['a', 'b', 'Quantity']
df3.columns = ['a', 'b', 'Quantity']
df4.columns = ['a', 'b', 'Quantity']
df5.columns = ['a', 'b', 'Quantity']
df6 = df2.append(df3)
df7 = df6.append(df4)
df8 = df7.append(df5)

def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#FFD43B','#646464','#4B8BBE','#306998']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp
        
    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))
    
    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum
        
    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()
        
    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))
    
    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )
    
    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )
       
    fig = dict(data=[data], layout=layout)
    return fig
fig = genSankey(df8,cat_cols=['a','b'],value_cols='Quantity',title='Sankey Diagram x Sales')
plotly.offline.plot(fig, validate=False)


# In[ ]:

'file:///Users/mastermind/temp-plot.html'

In [88]:
df = pd.read_csv('/Users/mastermind/Desktop/Super.csv')
column = ['Order ID', 'State','Order Date', 'Ship Date', 'Customer ID', 'Customer Name', 'Country', 'City','Postal Code','Product ID','Product Name','Discount']
df.drop(column,inplace=True, axis=1)
df1 = df.filter(['Ship Mode','Segment','Region','Category','Sub-Category','Quantity'], axis=1)
df2=df1.groupby(['Region', 'Segment'], as_index=False)['Quantity'].count()
df3=df1.groupby(['Segment', 'Category'], as_index=False)['Quantity'].count()
df4=df1.groupby(['Category','Sub-Category'], as_index=False)['Quantity'].count()
df5=df1.groupby(['Sub-Category','Ship Mode'], as_index=False)['Quantity'].count()
df2.columns = ['a', 'b', 'Quantity']
df3.columns = ['a', 'b', 'Quantity']
df4.columns = ['a', 'b', 'Quantity']
df5.columns = ['a', 'b', 'Quantity']
df6 = df2.append(df3)
df7 = df6.append(df4)
df8 = df7.append(df5)

def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#646464','#4B8BBE','#306998','#FFD43B']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp
        
    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))
    
    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum
        
    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()
        
    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))
    
    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )
    
    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )
       
    fig = dict(data=[data], layout=layout)
    return fig
fig = genSankey(df8,cat_cols=['a','b'],value_cols='Quantity',title='Sankey Diagram x Quantity')
plotly.offline.plot(fig, validate=False)


# In[ ]:

'file:///Users/mastermind/temp-plot.html'

In [89]:
df = pd.read_csv('/Users/mastermind/Desktop/Super.csv')
column = ['Order ID', 'State','Order Date', 'Ship Date', 'Customer ID', 'Customer Name', 'Country', 'City','Postal Code','Product ID','Product Name','Discount']
df.drop(column,inplace=True, axis=1)
df1 = df.filter(['Ship Mode','Segment','Quantity'], axis=1)
def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#646464','#4B8BBE','#306998','#FFD43B']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp
        
    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))
    
    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum
        
    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()
        
    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))
    
    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )
    
    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )
       
    fig = dict(data=[data], layout=layout)
    return fig
fig = genSankey(df1,cat_cols=['Segment','Ship Mode'],value_cols='Quantity',title='Sankey Diagram x Quantity')
plotly.offline.plot(fig, validate=False)


# In[ ]:

'file:///Users/mastermind/temp-plot.html'

In [90]:
df = pd.read_csv('/Users/mastermind/Desktop/Super.csv')
column = ['Order ID', 'State','Order Date', 'Ship Date', 'Customer ID', 'Customer Name', 'Country', 'City','Postal Code','Product ID','Product Name','Discount']
df.drop(column,inplace=True, axis=1)
df1 = df.filter(['Ship Mode','Region','Quantity'], axis=1)
def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#646464','#4B8BBE','#306998','#FFD43B']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp
        
    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))
    
    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum
        
    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()
        
    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))
    
    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )
    
    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )
       
    fig = dict(data=[data], layout=layout)
    return fig
fig = genSankey(df1,cat_cols=['Region','Ship Mode'],value_cols='Quantity',title='Sankey Diagram x Quantity')
plotly.offline.plot(fig, validate=False)


# In[ ]:

'file:///Users/mastermind/temp-plot.html'

In [91]:
df = pd.read_csv('/Users/mastermind/Desktop/Super.csv')
column = ['Order ID', 'State','Order Date', 'Ship Date', 'Customer ID', 'Customer Name', 'Country', 'City','Postal Code','Product ID','Product Name','Discount']
df.drop(column,inplace=True, axis=1)
df1 = df.filter(['Ship Mode','Category','Quantity'], axis=1)
def genSankey(df,cat_cols=[],value_cols='',title='Sankey Diagram'):
    # maximum of 6 value cols -> 6 colors
    colorPalette = ['#646464','#4B8BBE','#306998','#FFD43B']
    labelList = []
    colorNumList = []
    for catCol in cat_cols:
        labelListTemp =  list(set(df[catCol].values))
        colorNumList.append(len(labelListTemp))
        labelList = labelList + labelListTemp
        
    # remove duplicates from labelList
    labelList = list(dict.fromkeys(labelList))
    
    # define colors based on number of levels
    colorList = []
    for idx, colorNum in enumerate(colorNumList):
        colorList = colorList + [colorPalette[idx]]*colorNum
        
    # transform df into a source-target pair
    for i in range(len(cat_cols)-1):
        if i==0:
            sourceTargetDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            sourceTargetDf.columns = ['source','target','count']
        else:
            tempDf = df[[cat_cols[i],cat_cols[i+1],value_cols]]
            tempDf.columns = ['source','target','count']
            sourceTargetDf = pd.concat([sourceTargetDf,tempDf])
        sourceTargetDf = sourceTargetDf.groupby(['source','target']).agg({'count':'sum'}).reset_index()
        
    # add index for source-target pair
    sourceTargetDf['sourceID'] = sourceTargetDf['source'].apply(lambda x: labelList.index(x))
    sourceTargetDf['targetID'] = sourceTargetDf['target'].apply(lambda x: labelList.index(x))
    
    # creating the sankey diagram
    data = dict(
        type='sankey',
        node = dict(
          pad = 15,
          thickness = 20,
          line = dict(
            color = "black",
            width = 0.5
          ),
          label = labelList,
          color = colorList
        ),
        link = dict(
          source = sourceTargetDf['sourceID'],
          target = sourceTargetDf['targetID'],
          value = sourceTargetDf['count']
        )
      )
    
    layout =  dict(
        title = title,
        font = dict(
          size = 10
        )
    )
       
    fig = dict(data=[data], layout=layout)
    return fig
fig = genSankey(df1,cat_cols=['Category','Ship Mode'],value_cols='Quantity',title='Sankey Diagram x Quantity')
plotly.offline.plot(fig, validate=False)


# In[ ]:

'file:///Users/mastermind/temp-plot.html'